<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img
      src="/images/Big Breakfast.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <span id="navAppName">Savor</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <% links.forEach(link => { %>
      <li class="nav-item">
        <a href="<%= link.href %>" class="nav-link">
          <i class="<%= link.icon %>"></i>
          <span class="nav-item-text"><%= link.text %></span>
        </a>
      </li>
      <% }) %>
    </ul>
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        id="dropdownUser1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="/images/icons8-bald-man-in-green-jacket.svg"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong id="userName"><%= currentUser.username %></strong>
      </a>
      <ul
        class="dropdown-menu dropdown-menu-dark text-small shadow"
        aria-labelledby="dropdownUser1"
      >
        <li><a class="dropdown-item" href="/settings">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="/log-out">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>
